<style>
	
	#student-marks{
		width:100vw;
		height:100vh;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	
	input{
		height:40px;
		width:250px;
		font-size:20px;
		outline:none;
		border-radius:12px;
		padding-left:10px;
	}
	
</style>
<h1  th:text="${'Welcome'+teacher_name}"></h1>

<div id="student-marks">
		
		<form action="submitStudentMarks" method="POST">
		   
		    <input type="hidden" name="teacher_name" th:value="${teacher_name}" readonly><br>
			<input name="rollNo" th:value="${student.rollNo}" readonly /> <br/>
			<input name="name" th:value="${student.name}" readonly /> <br/>
			<input name="java" placeholder ="Add java marks" type="text" /> <br/>
			<input name="react" placeholder ="Add React marks" type="text" /> <br/>
			<input name="oracle" placeholder ="Add Oracle marks" type="text" /> <br/>
			<button type="submit">Submit Marks</button>
		</form>
	
</div>

